body{
    background-color: #8fa02d7e;
    box-shadow: aquamarine;
    margin-left: 20%;
	margin-right: 20%;
}
p1{
    color: black
}
ul1{
    font-family:Arial, Helvetica, sans-serif 
}
ul2{
    font-style: italic;
}

h1,h2,h3,h4,h5{
    font-family: 'Courier New';
    font-variant: small-caps;

}